TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather
DEFAULT_TOKEN_LIST=https://raw.githubusercontent.com/chinese-zodiac/tidaldex-fe/refs/heads/main/src/config/constants/tokenLists/tidaldex-default.tokenlist.json
BSC_RPC_URL=https://bsc.rpc.blocksec.com # Recommended to use an anti-MEV RPC provider
# A strong secret key for encrypting wallet private keys (generate a secure random string)
ENCRYPTION_KEY=your_strong_secret_encryption_key
PIN_EXPIRATION_TIME=1800 # Seconds until pin expires
# Database configuration
DB_TYPE=sqlite3 # Options: sqlite3, postgresql
DB_NAME=tidaldex.db # Database name or path for SQLite
# PostgreSQL specific configurations (only needed if DB_TYPE=postgresql)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres